{% extends "layouts/base.html"%} {% load static %} 
{% load django_bootstrap5 %}
{% block content %}
<div class="col-8">
<form method="post" action="">  {% csrf_token %}
  <div class="container-fluid">
    <div class="row mt-5">
      <div class="col-9">
        {% bootstrap_form form %}
        <div class="d-block mb-3">
          <button type="submit" class="btn btn-success mt-4">Log in!</button>
        </div>
        <a href="{% url "signup" %}">create a new account</a>
      </div>
    </div>
  </div>
</form>
</div>
{% endblock%}
