{% extends "layouts/base.html"%}
{% load static %}
{% block content %}
<div class="d-flex gap-3 align-items-center">
  <h1>Question Page</h1>
  <a href="{% url "hot" %}">Hot Questions</a>
</div>

<div class="col-8">
  <div class="border-bottom">
  {% include "layouts/question.html" with item=question %} 
  </div>
  {% for answer in answers %}
      {% include "layouts/answer_card.html" with a_item=answer %}
  {% endfor %}
  
  
  <div class="input-group flex-nowrap mt-3">
    <textarea
      class="form-control"
      placeholder="Enter your answer here"
      rows="3"
    ></textarea>
  </div>

  <button type="button" class="btn btn-success mt-3">Answer</button>

</div>

{% endblock %}
